.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .custom-context-menu {
    position: fixed;
    z-index: 10;
    background: orange;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .option {
    cursor: pointer;
    padding: 15px 30px;
  }
  
  .option:hover {
    background: rgb(25, 184, 73);
  }